DRIVE_NEW_API_URL=http://drive-server-wip:3004/api
PAYMENTS_API_URL=http://payments-server:8003
MEET_API_URL=http://meet-server:3006
JITSI_APP_ID=vpaas-magic-cookie-04a19c25aaab448c9cf74516ffb5ebf2
WEBPACK_DEV_SERVER_PROXY_TARGET=https://meet.internxt.com